h1 {
  background: hsl(0,0%,16%);
  box-shadow: hsla(0,0%,0%,0.2);
  color: hsl(0,0%,90%);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.8rem;
}

p {
  text-align: center;
}

a {
  color: CornflowerBlue;
}