@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  font-size: 16px;
}

body {
  color: hsl(0,0%,80%);
  background: hsl(0,0%,10%);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}